{% extends "website/base.html" %}

{% block content %}
<div>
    <h1>Our team</h1>
    <div>
        <div>
            <div>
                <img src="/static/img/peo1.png" alt="people image">
            </div>
            <h2>Shri Aaditkhan</h2>
            <h4>CEO of copper labs </h4>
        </div>
        <div>
            <div>
                <img src="/static/img/peo2.png" alt="people image">
            </div>
            <h2>Andrews</h2>
            <h4>Senior Manager Officer </h4>
        </div>
        <div>
            <div>
                <img src="/static/img/peo3.png" alt="people image">
            </div>
            <h2>Merolin</h2>
            <h4>Chairman of the Copper labs </h4>
        </div>
        <div>
            <div>
                <img src="/static/img/peo4.png" alt="people image">
            </div>
            <h2>Ragunath A.Mashelkar</h2>
            <h4> Chief Financial Officer </h4>
        </div>
        <div>
            <div>
                <img src="/static/img/peo5.png" alt="people image">
            </div>
            <h2>Shri Yogendra P.Trivendi</h2>
            <h4>Marketing Manager </h4>
        </div>
        <div>
            <div>
                <img src="/static/img/peo6.png" alt="people image">
            </div>
            <h2>Prof Deepak C.Jain</h2>
            <h4>Copper Labs' Chief Technology Officer </h4>
        </div>
    </div>
</div>
{% endblock  %}