{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product1.png" alt="product image">
            </div>
            <div class="itemname">Deoxidised Low Phosphorus(DLP) Copper Tubey</div>
            <div class="itemprice">Price: Rs 550  / Kg </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product2.png"  alt="product image">
            </div>
            <div class="itemname">Tellurium Copper Rod</div>
            <div class="itemprice">Price: Rs 700 / Kg </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product3.png"  alt="product image">
            </div>
            <div class="itemname">Tellurium Copper Strip</div>
            <div class="itemprice">Price:Rs 730 / Kg </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product4.png"  alt="product image">
            </div>
            <div class="itemname">Silver Bearing Copper Strip</div>
            <div class="itemprice">Price:Rs 800 / Kg </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product5.png"  alt="product image">
            </div>
            <div class="itemname">Deoxidised Low Phosphorus Copper Rod</div>
            <div class="itemprice">Price:Rs 950 / Kg </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product6.png"  alt="product image">
            </div>
            <div class="itemname">Copper Rod ( Electrolytic Tough Phosphorus)</div>
            <div class="itemprice">Price:Rs 1766 / Kg </div>
        </div>
          <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product7.png"  alt="product image">
            </div>
            <div class="itemname">Copper Hollow Profiles</div>
            <div class="itemprice">Price:Rs 1233 / Kg </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product8.png"  alt="product image">
            </div>
            <div class="itemname">Deoxidised High Phosphorus(DHP) Copper Strips</div>
            <div class="itemprice">Price:Rs 550 / Kg </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product9.png"  alt="product image">
            </div>
            <div class="itemname">Press Components</div>
            <div class="itemprice">Price:Rs 430 / Kg </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product10.png"  alt="product image">
            </div>
            <div class="itemname">Integral Finned Tubes</div>
            <div class="itemprice">Price:Rs 1970 / Kg </div>
        </div>
          <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product13.png"  alt="product image">
            </div>
            <div class="itemname">Bare Copper Wire</div>
            <div class="itemprice">Price:Rs 197 / Kg </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/product14.png"  alt="product image">
            </div>
            <div class="itemname">Copper Billet</div>
            <div class="itemprice">Price:Rs 650 </div>
        </div>
    </div>
    </div>
{% endblock  %}